body{
  background-color: F0F4F5;
}


h1{
  text-align: center;
  margin-bottom: 5px;
}
table{
  margin:auto;
}

button{
  margin: 0 47% 10px 47%
}
td{
  border: 1px solid black;
  width: 60px;
  height: 60px;
}
section{
  border: 1px solid black;
  border-radius: 15px;
  width: 100px;
  height: 120px;
  font-weight: bold;
  text-align: center;

}

#right{
  float: right;
  margin-top: 7%;
  margin-right: 10%
}

#left{
  color:white;
  float: left;
  margin-top: 23%;
  margin-left: 10%
}

.black {
  background: black;
}

.red {
  background-color: red;
}

.tile{
  background-size: cover;
}

.whitePieces{
  background-image: url("../assets/white_piece.png");
}

.blackPieces{
  background-image : url("../assets/black_piece.png");
}
