
h1{
  text-align: center;
}
table {
  margin:auto;
}
td{
  border: 1px solid black;
  width: 60px;
  height: 60px;
}

.black {
  background: black;
}

.red {
  background-color: red;
}

.tile{
  background-size: cover;
}

.whitePieces{
  background-image: url("../assets/white_piece.png");
}

.blackPieces{
  background-image : url("../assets/black_piece.png");
}
